<div th:fragment="form">
    <form hx-post="${actionUrl}" hx-target="#client-account-table-container" hx-swap="outerHTML"
          class="needs-validation" novalidate>
        <div class="modal-header">
            <h5 class="modal-title" th:text="${clientAccountDTO.id == null ? 'Novo Cliente' : 'Editar Cliente'}"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <input type="hidden" th:if="${clientAccountDTO.id != null}" th:field="*{clientAccountDTO.id}" />

            <div class="mb-3">
                <label for="userName" class="form-label">Username</label>
                <input type="text" class="form-control" id="userName" th:field="*{clientAccountDTO.userName}" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('clientAccountDTO.userName')}" th:errors="*{clientAccountDTO.userName}"></div>
            </div>
            <div class="mb-3">
                <label for="identifier" class="form-label">Identificador</label>
                <input type="text" class="form-control" id="identifier" th:field="*{clientAccountDTO.identifier}" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('clientAccountDTO.identifier')}" th:errors="*{clientAccountDTO.identifier}"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>