<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: template(pageTitle='Consulta de Clientes', pageContent=~{::content}, activePage='clientes')}">

<div th:fragment="content">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mt-4">Consulta de Clientes</h1>
        <button class="btn btn-success"
                hx-get="/web/client-accounts/new"
                hx-target="#modal-form-content"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#clientAccountModal">
            <i class="bi bi-plus-lg"></i> Novo Cliente
        </button>
    </div>

    <div id="client-account-table-container" th:replace="~{client-account/list :: table-fragment}">
    </div>


    <div class="modal fade" id="clientAccountModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="modal-form-content"></div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="table-fragment">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Identificador</th>
            <th style="width: 10%;">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="acc : ${clientAccountPage.content}">
            <td th:text="${acc.id()}"></td>
            <td th:text="${acc.userName()}"></td>
            <td th:text="${acc.identifier()}"></td>
            <td>
                <button class="btn btn-primary btn-sm"
                        hx-get="@{/web/client-accounts/{id}/edit(id=${acc.id()})}"
                        hx-target="#modal-form-content"
                        data-bs-toggle="modal"
                        data-bs-target="#clientAccountModal">
                    <i class="bi bi-pencil"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>