    <html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: template(pageTitle='Cadastro de Empresa', pageContent=~{::content}, activePage='empresas')}">

<div th:fragment="content">
    <h1 class="mt-4 mb-4">Cadastro de Empresa</h1>

    <div class="card">
        <div class="card-body">
            <form th:object="${companyDTO}" th:action="@{/web/companies/create}" method="post">

                <h5>Dados da Empresa</h5>
                <hr>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="companyName" class="form-label">Razão Social</label>
                        <input type="text" class="form-control" id="companyName" th:field="*{companyName}">
                        <div class="text-danger" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="tradingName" class="form-label">Nome Fantasia</label>
                        <input type="text" class="form-control" id="tradingName" th:field="*{tradingName}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="cnpj" class="form-label">CNPJ</label>
                        <input type="text" class="form-control" id="cnpj" th:field="*{cnpj}">
                        <div class="text-danger" th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}"></div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="registrationDate" class="form-label">Data de Registro</label>
                        <input type="date" class="form-control" id="registrationDate" th:field="*{registrationDate}">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="clientAccountId" class="form-label">Conta do Cliente</label>
                        <select class="form-select" id="clientAccountId" th:field="*{clientAccountId}">
                            <option value="">Selecione...</option>
                            <option th:each="acc : ${clientAccounts}" th:value="${acc.id()}" th:text="${acc.identifier()}"></option>
                        </select>
                        <div class="text-danger" th:if="${#fields.hasErrors('clientAccountId')}" th:errors="*{clientAccountId}"></div>
                    </div>
                </div>

                <h5 class="mt-4">Contato Principal</h5>
                <hr>
                <input type="hidden" name="contacts[0].name" value="Contato Principal"> <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="contactEmail" class="form-label">Email do Contato</label>
                    <input type="email" class="form-control" id="contactEmail" th:field="*{contacts[0].email}">
                    <div class="text-danger" th:if="${#fields.hasErrors('contacts[0].email')}" th:errors="*{contacts[0].email}"></div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="contactPhone" class="form-label">Telefone do Contato</label>
                    <input type="text" class="form-control" id="contactPhone" th:field="*{contacts[0].phone}">
                    <div class="text-danger" th:if="${#fields.hasErrors('contacts[0].phone')}" th:errors="*{contacts[0].phone}"></div>
                </div>
            </div>

                <h5 class="mt-4">Endereço Principal</h5>
                <hr>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="addressPostalCode" class="form-label">CEP</label>
                        <input type="text" class="form-control" id="addressPostalCode" th:field="*{addresses[0].postalCode}">
                    </div>
                    <div class="col-md-9 mb-3">
                        <label for="addressStreet" class="form-label">Rua</label>
                        <input type="text" class="form-control" id="addressStreet" th:field="*{addresses[0].street}">
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-4">
                    <a th:href="@{/web/companies}" class="btn btn-secondary me-2">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Salvar Empresa</button>
                </div>

            </form>
        </div>
    </div>
</div>
</html>